# Supabase Configuration
SUPABASE_URL=https://jhnrdoofpauonmhiqkad.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpobnJkb29mcGF1b25taGlxa2FkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODcyODA2MCwiZXhwIjoyMDk0MzA0MDYwfQ.iQY2BkUd2BVWN_y7__TQqw9lIpYxRI0oKbbJ7BJVk24

# JWT Configuration
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
