# Supabase Configuration
SUPABASE_URL=https://rjhpthtxbvbctholyiff.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJqaHB0aHR4YnZiY3Rob2x5aWZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM0ODc0MjQsImV4cCI6MjA3OTA2MzQyNH0.kcCepz_jge30IuIuqalfDJ9Twd9PsncKbr3XgKYd7V4

# JWT Configuration
SECRET_KEY=your-secret-key-here-change-in-production
ALGORITHM=HS256
